.MouthWrapper {
    height: 300px;
    width: 100vw;
    margin-bottom: 30px;
}

.UpperTeethWrapper, .StartMunchingButton {
    height: 120px;
    display: flex;
    justify-content: center;
}


.StartMunchingButton {
    width: 124px;
    height: 80px;
    margin: 0 auto 30px auto;
    padding: 0;
}

@media (min-width: 750px) {
    .MouthWrapper {
        height: 450px;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .UpperTeethWrapper, .StartMunchingButton {
        height: 225px;
        display: flex;
        justify-content: center;
    }
    
    
    .StartMunchingButton {
        width: 124px;
        height: 70px;
        margin: 0 auto 30px auto;
        padding: 0;
    }
}