.Form {
    display: flex;
    justify-content: center;
    height: 50px;
}

.Form input {
    font-size: 16px;
}

.DefaultText {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.GuessSucess {
    font-size: 20px;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
    color: green;
}

.GuessInvalid {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: red;
}

.ShowFactsBtn {
    display: flex;
    justify-content: center;
}

.ShowFactsBtn button {
    height: 40px;
    border: 2px solid #01c177;
    border-radius: 10px;
    background: none;
    font-size: 14px;
}

.ShowFactsBtn button:hover {
    color: #fff;
    background-color: #01c177;
    cursor: pointer;
}


